<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlineCourseManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletProject</servlet-name>
    <servlet-class>web.ServletProject</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterCourse</servlet-name>
    <servlet-class>web.RegisterCourse</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletProject</servlet-name>
    <url-pattern>/ServletProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterCourse</servlet-name>
    <url-pattern>/RegisterCourse</url-pattern>
  </servlet-mapping>
</web-app>
</element>